/* src/components/Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    width: calc(100% - 40px); /* Ensure the header does not exceed the screen width */
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Ensure padding is included in the element's total width and height */

  }
  
  .logo {
    height: 60px; /* Increase the height of the logo */
    width: auto; /* Maintain the aspect ratio */
  }
  
  .warehouses-button {
    padding: 10px 20px;
    background-color: #a37c33;
    color: rgb(20, 5, 5);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
  }
  
  .warehouses-button:hover {
    background-color: #cc610a;
  }
  