.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    width: calc(100% - 40px); 
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; 

  }
  
  
  .logo {
    height: 60px; 
    width: auto; 
  }

  .button-group {
    display: flex; 
    align-items: center; 
  }
  
  .inventory-button {
    padding: 10px 20px;
    background-color: #28a745; 
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px; 
  }
  
  .inventory-button:hover {
    background-color: #218838; 
  }
  
  .warehouses-button {
    padding: 10px 20px;
    background-color: #a37c33;
    color: rgb(20, 5, 5);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
  }
  
  .warehouses-button:hover {
    background-color: #cc610a;
  }
  