.list {
    padding: 70px 600px 100px; 
    text-align: center; 
    max-width: 400px;
    margin: 0 auto; 
    list-style: none; 
    background-color: #1b1c1d; 
    border: 1px solid #dee2e6; 
    border-radius: 5px; 
  }
  
  .list-item {
    padding: 10px; 
    border-bottom: 1px solid #dee2e6; 
    cursor: pointer; 
  }
  
  .list-item:hover {
    background-color: #63676b; 
  }
  
  .list-item:last-child {
    border-bottom: none; 
  }
  